html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

#content {

    height: 100%;

    > div {
        height: 100%;
        display: flex;
        justify-content: center;

    }
}

.main__container {
    padding-top: 2em;
    background: #cccccc;
    height: 100%;
}
